<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/reset.css">

    <!--------------------------  JQuery --------------------------------- -->
    <script src="https://kit.fontawesome.com/b1cadc3305.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <script src="/js/signup.js"></script>

</head>
<body>
<div class="wrap">
    <header>
        <div class="header-container">
            <nav class="header-nav">
                <ul>
                    <li>
                        <div sec:authorize="isAuthenticated()">
                            <a class="logout" href="/users/logout">로그아웃</a>
                        </div>
                        <div sec:authorize="isAnonymous()">
                            <a class="logout" href="/users/login">로그인</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="header-title">
                <a href="/main">
                    <h1>My Blog</h1>
                </a>
                <div sec:authorize="isAuthenticated()">
                    <p>
                        <span sec:authentication="name"></span> 님의 하루를 기록해보세요.
                </div>
                <div sec:authorize="isAnonymous()">
                    <p>
                        오늘을 기록해보세요.
                    </p>
                </div>
            </div>
        </div>
    </header>
    <!--  wirter box 글쓰는 부분  -->
    <section class="login-box-section">
        <div class="login-box-container">
            <div class="login-box">
                <form action = "/users/api/signup" method="post"  onsubmit="return userdataCheck()">
                    <input type="text" placeholder="아이디는 최소 3자 이상, 영어,숫자를 사용하여 입력하세요." name="username" id="username">
                    <div th:if="${signError} =='userIdExist'"> 존재하는 아이디입니다. </div>

                    <input type="password" placeholder="비밀번호는 숫자로 4자리 이상 입력해주세요" name="password" id="password">
                    <input type="password" placeholder="비밀번호 확인" id="re_password">
                    <input type="text" placeholder="이메일을 입력해주세요." name="email" id="email">
                    <button type="submit" class="btn login-btn">회원가입</button>
                </form>
            </div>
        </div>
    </section>
    <!--  wirter box 글쓰는 부분 끝  -->
</div>
</body>

</html>